<tr>
    <td>
        <header style="background:#0B132B;padding:20px;text-align:center;">
            <img src="{{ get_theme_file_uri('assets/images/logo-cat_icone-s.png') }}" alt="" style="max-width:150px;height:auto;display:block;margin:0 auto 10px;" />
            <h1 style="color:#ffffff;font-family:Arial,sans-serif;font-size:24px;margin:0;">{{ title }}</h1>
        </header>
    </td>
</tr>
